config TOUCHSCREEN_NOVATEK
        tristate "Novatek Series Capacity Touchscreen Device Support"
        default m
        depends on ARCH_WMT
        ---help---
          Say Y here if you have an WMT based board with touchscreen
          attached to it.
          If unsure, say N.
          To compile this driver as a module, choose M here: the
          module will be called novatek.

